@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @userName</h1>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to access this app.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    private string userName;

    protected override void OnInitialized()
    {
        SetUsername();
    }

    private async void SetUsername()
    {
        var authState = await authenticationState;
        userName = authState.User.Identity.Name;
    }
}