@page "/EditUser/{UserId}"
@inject IViewModelFactory _viewModelFactory;

@if(_editUserViewModel != null)
{
    <h2>Edit User @_editUserViewModel.UserName</h2>

    <form>
        <div class="form-check">
            @foreach (var role in _editUserViewModel.AllRoles)
            {
                <label class="form-check-label">@role</label>
                <input type="checkbox" class="form-check-input" value="@role">
            }

        </div>
    </form>
}


@code {
    [Parameter]
    public string UserId { get; set; }
    private EditUserViewModel _editUserViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _editUserViewModel = await _viewModelFactory.CreateEditUserViewModel(UserId);
    }

}
